@import 'https://fonts.googleapis.com/css?family=Barlow';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
}

/* Header */
.header{
    background-color: #6D348D;
      position: sticky;
      top: 0;
      width: 100%;
  }

  
/* Logo */
.logo{
    display: inline-block;
    font-size: 60px;
    margin-left: 10px;
}


a {
  text-decoration: none;
  color: white;
}

/* Barra de navegación */
/* Escondida hasta que se abra el menú */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
  background: #3F0C5B;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}


.menu a {
    display: block;
    padding: 20px;
    color: white;
}

.introduction {
  color: white;
  padding: 20px 30px;
  border-bottom: 5px solid #6d348d;
}

.menu a:hover{
    background-color: #00EC87;
    font-size: 20px;
}


/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
  } /* label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} /* span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
  visibility: hidden;
  }/* Esconder checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* Responsivo para pantallas mayores de 768px */
@media (min-width: 768px) {
  .nav{
      max-height: none;
      position: relative;
      float: right;
      width: fit-content;
      background: transparent;
      font-size: 1.3em;
  }

  
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: #00EC87;
      color: white;
      font-size: 27px;

  }

  .hamb{
      display: none;
  }

  .introduction{
    display: none;
  }
}


/* Títulos de sección */
h3 {
  font-size: 20px;
  border-radius: 20px;
  color: #ffff;
  background-color: #00EC87;
  text-align: center;
  padding: 10px 1em;
  margin-bottom: 1.5em;
  align-items: center;
}

.container_devskills {
  padding: 20px;
  color: #1E2C26;
}

.box1 {
  margin-bottom: 20px;
}

.grid_container_devskills1, .grid_container_devskills2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  background-color: white;
  padding: 10px;
}


.grid_container_devskills1 > div {
  background-color: #D7FEED;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
}

.grid_container_devskills2 > div {
  background-color: #D7FEED;
  text-align: justify;
  word-spacing: -0.05em;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* Quién soy */

.facts {
  padding-top: 10px;
  }

.container_whoami {
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 100%;
  background-color: #D7FEED;
  color: #1E2C26;
}


/* Footer */
footer {
  position: relative;
  display: flex;
  align-items: center;
  background: #3F0C5B;
  color: #FFFACD;
  padding: 20px;
}

footer a {
  color: #D5C3DF;
}

ul {
  list-style: none;
}

.footer-content {
  margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #D5C3DF;
}






